header {
    padding: 20px 0;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 100px;

            > img {
                width: 75%;
            }
        }

        ul {
            list-style: none;
            display: flex;

            li {
                text-transform: uppercase;
                margin: 10px;

                a {
                    text-decoration: none;
                    color: #464646;
                    font-weight: bold;
                    cursor: pointer;

                    &:hover {
                        color: $text-primary-color;
                    }
                }
            }
        }

        input {
            text-align: end;
            border: none;
            border-bottom: 2px $text-primary-color solid;
        }
    }
}